<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class=" col-md-1 col-sm-0"></div>

    <div class="col-lg-12 col-md-10 col-sm-12 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <% if(contatos.length > 0) { %>
      <div class="table-responsive">
        <table class="table my-3">
          <% contatos.forEach(contato => { %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.sobrenome %></td>
            <td><%= contato.telefone %></td>
            <td><%= contato.email %></td>
            <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
            <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
        <p class="d-lg-none text-secondary">Deslize o dedo na tabela para ver mais informações -></p>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem contatos na sua agenda.</p>
      <% } %>

    </div>
    
    <div class="col-md-1 col-sm-0"></div>
  </div>
</div>

<%- include('includes/footer') %>
